@font-face {
  font-family: "NanumBarunGothic";
  src: url("./font/NanumBarunGothic.ttf") format("truetype");
}

@font-face {
  font-family: "NanumBarunGothicBold";
  src: url("./font/NanumBarunGothicBold.ttf") format("truetype");
}
.root{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.root::-webkit-scrollbar{
  display:none;
}